*{
	margin: 0px;
	padding: 0px;
}
li{
	list-style: none;
	width: 25vw;
}
.x1{
	position: fixed;
	text-align: center;
	background-color: #79A4FF;
}
h1{
	width: 100vw;
}
.x2{
	height: 50px;
	padding-top: 60px;
	background-color: #9FBEFF;
}
.x3{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #7BFFF3;
}
.x5{
	background-color: #7BFFF3;
	position: fixed;
	bottom: 0;
	right: 0;
	padding: 10px;
}
.x4{
	width: 300px;
	height: 280px;
	margin: 10px;
	background-color: #FFD74F;
	border: 10px solid #FFC74F;
}
ul{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
p{
	letter-spacing: 1px;
	line-height: 1.6;
	word-break: keep-all;
}
.x6{
	width: 300px;
	height: 30px;
	background-color: #FFD74F;
	border: 10px solid #FFC74F;
	margin: 10px;
	position: static;
	background: linear-gradient(lemonchiffon, cyan);
	border-radius: 100px;
	text-align: center;	
}
.q1{
	background-color: #FFD74F;
	border: 10px solid #FFC74F;
	margin: 10px;
	width: 300px;
	height: 25px;
}
.q2{
	width: 300px;
	height: 130px;
	background-color: #FFD74F;
	border: 10px solid #FFC74F;
	margin: 10px;
}
.c1{
	position: fixed;
	background-color: #9F4FFA;
	text-align: center;
}
.c2{
	background-color: #AE67FF;
	height: 50px;
	padding-top: 60px;
}
.c3{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #B97BFF;
}
.c4{
	background-color: #B97BFF;
	position: fixed;
	bottom: 0;
	right: 0;
	padding: 10px;
}
.c5{
	width: 300px;
	height: 300px;
	background-color: #FFFE67;
	border: 10px solid #FFE250;
	margin: 10px;
}
ul{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
p{
	letter-spacing: 1px;
	line-height: 1.6;
	word-break: keep-all;
}
.c6{
	width: 300px;
	height: 30px;
	background-color: #FFD74F;
	border: 10px solid #FFC74F;
	margin: 10px;
	position: static;
	background: linear-gradient(lemonchiffon, #C79FFF);
	border-radius: 100px;
	text-align: center;	
}
.w1{
	width: 300px;
	height: 25px;
	background-color: #FFFE67;
	border: 10px solid #FFE250;
	margin: 10px;

}
.w2{
	width: 300px;
	height: 100px;
	background-color: #FFFE67;
	border: 10px solid #FFE250;
	margin: 10px;

}
.e1{
	position: fixed;
	background-color: #FF54AB;
	text-align: center;
}
.e2{
	background-color: #FF75BB;
	height: 50px;
	padding-top: 60px;
}
.e3{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #FF8DDA;
}
.e4{
	background-color: #FF8DDA;
	position: fixed;
	bottom: 0;
	right: 0;
	padding: 10px;
}
.e5{
	width: 300px;
	height: 340px;
	background-color: #FFACD6;
	border: 10px solid #FFE250;
	margin: 10px;
}
ul{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
p{
	letter-spacing: 1px;
	line-height: 1.6;
	word-break: keep-all;
}
.e6{
	width: 300px;
	height: 30px;
	background-color: #FFD74F;
	border: 10px solid #FFC74F;
	margin: 10px;
	position: static;
	background: linear-gradient(lemonchiffon, #FF83C2);
	border-radius: 100px;
	text-align: center;	
}
.o1{
	width: 300px;
	height: 25px;
	background-color: #FFACD6;
	border: 10px solid #FFE250;
	margin: 10px;

}
.o2{
	width: 300px;
	height: 60px;
	background-color: #FFACD6;
	border: 10px solid #FFE250;
	margin: 10px;

}
.b1{
	position: fixed;
	background-color: #AEB6BF;
	text-align: center;
}
.b2{
	background-color: #E5E8E8 ;
	height: 50px;
	padding-top: 60px;
}
.b3{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}