*{
	padding: 5px;
	margin: 10px;
}
@media screen and (max-width:900px) {
.q1 {
	background-color: royalblue;
	font-size: 30px;
		width: 300px;
}
}
header {
	background: linear-gradient(lemonchiffon, cyan);
	text-align: center;
	width: 300px 20vw; 
	height: 40px 20vh;
	border-radius: 70px;
	box-shadow: 5px 5px 15px 1px #114595;
}

.n1 {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-item: center;
	flex-direction: column;
	background-color: lemonchiffon;
	border: 4px Inset cyan;
	width: 300px 20vw; 
	height: 40px 20vh;
	border-radius: 80px;
	box-shadow: 5px 5px 15px 1px #114595;
}
.cyw {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	
	width: 300px 20vw; 
	height: 40px 20vh;
	border-radius: 100px;
}
article {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
a{
	color: #1B5FC8;
}
.y1 {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-item: center;
	background: linear-gradient(lemonchiffon, cyan);
	border-radius: 100px;
	width: 180px;
}
.y2 {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-item: center;
	background: linear-gradient(lemonchiffon, cyan);
	width: 1200px; 
	height: 50px;
	border-radius: 100px;
	box-shadow: 5px 5px 15px 1px #114595;
}
.y3 {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-item: center;
	position: static;
}
.c1 {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #1B5FC8;
	position: absolute;
	top: 210px;
	left: 730px;
	background: linear-gradient(lemonchiffon, cyan);
	width: 180px;
	height: 180px;
	border-radius: 100px;
	text-align: center;
	box-shadow: 5px 5px 15px 1px #114595;
}
.c2 {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #1B5FC8;
	position: absolute;
	top: 210px;
	left: 470px;
	background: linear-gradient(lemonchiffon, cyan);
	width: 180px;
	height: 180px;
	border-radius: 100px;
	text-align: center;
	box-shadow: 5px 5px 15px 1px #114595;
}
li {
	list-style: none;
	width: 400px;
}
a{
	color: ;
}

.me {
	background: linear-gradient(lightcyan, royalblue);
}
.design {
	background: linear-gradient(navy, cyan);
}
.l1 {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-item: center;
	flex-direction: column;
	border: 2px dotted black;
	letter-spacing: 1px;
	line-height: 1.6;
	word-break: keep-all;
	position: relative;
	background: linear-gradient(lemonchiffon, lightcyan);
	width: 600px; 
	height: 900px;
	border-radius: 20px;
}
.t1 {
	writing-mode: vertical-lr;
	text-orientation:upringht;
	flex-wrap: nowrap;
}
.l2 {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-item: center;
	flex-direction: column;
	border: 2px dotted black;
	letter-spacing: 1px;
	line-height: 1.6;
	word-break: keep-all;
	position: relative;
	background: linear-gradient(lemonchiffon, lightcyan);
	width: 600px; 
	height: 900px;
	border-radius: 20px;
}
.t2 {
	writing-mode: vertical-lr;
	text-orientation:upringht;
	flex-wrap: nowrap;
}
.l3 {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-item: center;
	flex-direction: column;
	border: 2px dotted black;
	letter-spacing: 1px;
	line-height: 1.6;
	word-break: keep-all;
	position: relative;
	background: linear-gradient(lemonchiffon, lightcyan);
	width: 600px; 
	height: 900px;
	border-radius: 20px;
}
.t3 {
	writing-mode: vertical-lr;
	text-orientation:upringht;
	flex-wrap: nowrap;
}
.l4 {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-item: center;
	flex-direction: column;
	border: 2px dotted black;
	letter-spacing: 1px;
	line-height: 1.6;
	word-break: keep-all;
	position: relative;
	background: linear-gradient(lemonchiffon, lightcyan);
	width: 600px; 
	height: 900px;
	border-radius: 20px;
}
.t4 {
	writing-mode: vertical-lr;
	text-orientation:upringht;
	flex-wrap: nowrap;
}
.l5 {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-item: center;
	flex-direction: column;
	border: 2px dotted black;
	letter-spacing: 1px;
	line-height: 1.6;
	word-break: keep-all;
	position: relative;
	background: linear-gradient(lemonchiffon, lightcyan);
	width: 600px; 
	height: 900px;
	border-radius: 20px;
}
.t5 {
	writing-mode: vertical-lr;
	text-orientation:upringht;
	flex-wrap: nowrap;
}
.l6 {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-item: center;
	flex-direction: column;
	border: 2px dotted black;
	letter-spacing: 1px;
	line-height: 1.6;
	word-break: keep-all;
	position: relative;
	background: linear-gradient(lemonchiffon, lightcyan);
	width: 600px; 
	height: 900px;
	border-radius: 20px;
}
.t6 {
	writing-mode: vertical-lr;
	text-orientation:upringht;
	flex-wrap: nowrap;
}
.l7 {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-item: center;
	flex-direction: column;
	border: 2px dotted black;
	letter-spacing: 1px;
	line-height: 1.6;
	word-break: keep-all;
	position: relative;
	background: linear-gradient(lemonchiffon, lightcyan);
	width: 600px; 
	height: 900px;
	border-radius: 20px;
}
.t7 {
	writing-mode: vertical-lr;
	text-orientation:upringht;
	flex-wrap: nowrap;
}
.l8 {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-item: center;
	flex-direction: column;
	border: 2px dotted black;
	letter-spacing: 1px;
	line-height: 1.6;
	word-break: keep-all;
	position: relative;
	background: linear-gradient(lemonchiffon, lightcyan);
	width: 600px; 
	height: 900px;
	border-radius: 20px;
}
.t8 {
	writing-mode: vertical-lr;
	text-orientation:upringht;
	flex-wrap: nowrap;
}
.l9 {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-item: center;
	flex-direction: column;
	border: 2px dotted black;
	letter-spacing: 1px;
	line-height: 1.6;
	word-break: keep-all;
	position: relative;
	background: linear-gradient(lemonchiffon, lightcyan);
	width: 600px; 
	height: 900px;
	border-radius: 20px;
}
.t9 {
	writing-mode: vertical-lr;
	text-orientation:upringht;
	flex-wrap: nowrap;
}
.l10 {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-item: center;
	flex-direction: column;
	border: 2px dotted black;
	letter-spacing: 1px;
	line-height: 1.6;
	word-break: keep-all;
	position: relative;
	background: linear-gradient(lemonchiffon, lightcyan);
	width: 600px; 
	height: 900px;
	border-radius: 20px;
}
.t10 {
	writing-mode: vertical-lr;
	text-orientation:upringht;
	flex-wrap: nowrap;
}
img {
	width height: 20px;
}
@media screen and (max-width:900px) {
	.c1 {
		top: 210px;
		left: 80px;
	}
	.c2 {
		top: 510px;
		left: 80px;
	}
